<div *ngIf="artist">

    <div class="row">
        <div class="col s12 m12">
            <br>
            <a class="waves-effect waves-light grey darken-4 btn" routerLink="/" routerLinkActive="active">
                <i class="material-icons left">chevron_left</i>Back to search
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card horizontal">
                <div class="card-image">
                    <img *ngIf="artist.images.length > 0" src="{{artist.images[0].url}}" alt=""
                         style="max-height: 350px;"
                         class="responsive-img"/>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">
                            <h1> {{artist.name}} </h1>
                        </span>
                        <br>
                        <div *ngIf="artist.genres.length>0">
                            <strong>Genres: </strong>
                            <span *ngFor="let genre of artist.genres">{{genre}} </span>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col s12 m4 l3" *ngFor="let album of albums" style="max-height: 320px; weight: auto;">
            <div class="card">
                <div class="card-image">
                    <a routerLink="/albums/{{album.id}}">
                        <img class="responsive-img" src="{{album.images[1].url}}" *ngIf="album.images.length > 0"
                             style="max-height: 200px;">
                    </a>
                </div>
                <div class="card-content">
                    <div class="card-content">

                        <a  routerLink="/albums/{{album.id}}" class="center grey-text text-darken-4">
                            <p *ngIf="album.name.length > 20">{{album.name.substr(0,19) + "..."}}</p>
                            <p *ngIf="album.name.length <= 20">{{album.name}}</p>
                        </a>

                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
